@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Medium.woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.woff2');
	font-weight: bold;
	font-display: swap;
}

@layer base {
	html {
		scroll-behavior: smooth;
		@apply bg-gray;
		@apply text-html;
		@apply 2xl:text-html2xl;
		@apply xl:text-htmlxl;
		@apply lg:text-htmllg;
		@apply md:text-htmlmd;
		@apply sm:text-htmlsm;
	}
	body {
		@apply font-roboto text-1.6 text-white;
	}
}

@layer components {
	.is-2 {
		@apply text-2;
	}
	.is-3 {
		@apply text-3;
	}
	.is-4 {
		@apply text-4;
	}
	.is-5 {
		@apply text-5;
	}
}
